@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
  color: white;
  display: grid;
  place-content: center;
  height: 100vh;
}

main {
  height: 20rem;
  display: flex;
  background: hsl(244, 38%, 16%);
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px;
}

main .text-header {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.text-header h1 {
  font-family: "Inter";
  font-weight: 700;
}

.text-header p {
  font-family: "Lexend Deca";
  font-size: 12px;
  color: #b4b4b4;
  margin: 1rem 0;
}

.text-header .stats {
  font-family: "Lexend Deca";
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: small;
  width: 80%;
  margin: 1.5rem 0;
  color: #b4b4b4;
  line-height: 1.5;
}

.text-header .stats div span {
  color: white;
  font-weight: bold;
  display: block;
  font-size: 18px;
}

.header-highlight {
  color: rgb(170, 92, 219);
}

.img-header {
  background: linear-gradient(
      0deg,
      rgba(151, 7, 240, 0.4),
      rgba(151, 7, 240, 0.4)
    ),
    url("./images/image-header-desktop.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: brightness(75%);
}

@media all and (max-width: 780px) {
  body {
    padding: 1.5rem 0;
    height: unset;
    display: grid;
    place-items: center;
  }

  main {
    display: grid;
    grid-template-rows: 1fr 2fr;
    /* flex-direction: column; */
    width: 80%;
    margin: 0 auto;
    height: unset;
    text-align: center;
  }

  main .text-header {
    order: 2;
    padding: 2rem 1rem;
  }

  .text-header h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .text-header p {
    font-size: 1rem;
  }

  .text-header .stats {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 1rem 0 0 0;
  }

  .text-header .stats > div {
    margin: 0.5rem 0;
  }

  .img-header {
    order: 1;
    height: 100%;
    width: 100%;
  }
}
